<nav class="custom-navbar" [class.navbar-scrolled]="isScrolled">
  <div class="navbar-left">
    <img
      src="https://cdn-icons-png.flaticon.com/128/864/864702.png"
      alt="Logo"
      width="40"
      height="40" loading="lazy"
    />
    <span class="brand">BookStore</span>
  </div>

  <div class="nav-center-links" [class.show]="isMenuOpen">
    <a class="custom-menu-link" (click)="scrollToSection('home')">Home</a>
    <a class="custom-menu-link" (click)="scrollToSection('books')">Books</a>
    <button class="custom-menu-link" (click)="onFavoritesClick()">Favorites</button>
    <a class="custom-menu-link" (click)="scrollToSection('about')">About</a>
    <a class="custom-menu-link" (click)="scrollToSection('contact')">Contact</a>
  </div>

  <div class="width-icon" aria-label="Profile">
    <i class="pi pi-user"></i>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    <i class="pi pi-bars text-white text-xl"></i>
  </button>
</nav>
