<h2 class="text-3xl font-bold text-center text-[#00ADB5] my-4">Explore All Books Here</h2>

<div class="flex align-items-center justify-content-center flex-wrap gap-4 my-6">
  <div class="flex items-center" *ngFor="let option of categoryOptions">
    <p-radioButton
      name="category"
      [value]="option.value"
      [(ngModel)]="selectedCategory"
      [inputId]="option.value"
      (onClick)="onCategoryChange(option.value)"
    />
    <label [for]="option.value" class="ml-2 lable ">
      {{ option.label }}
    </label>
  </div>
</div>


<div class="flex-wrap grid-cols-4 gap-6 flex align-items-center justify-content-center justify-center overflow-hidden">
  <p-card
    *ngFor="let book of displayedBooks"
    [header]="getShortTitle(book.title)"
    [subheader]="getShortAuthor(book)"
    [style]="{ cursor: 'default', width: '300px', height: '470px' }"
    [title]="book.title"
  >
    <ng-template pTemplate="content">
      <img
        *ngIf="book.cover_id"
        [src]="'https://covers.openlibrary.org/b/id/' + book.cover_id + '-L.jpg'"
        alt="{{ book.title }}"
        class="img-cover"
      />
      <p class="text-sm">
        Editions: <strong>{{ book.edition_count || '-' }}</strong>
      </p>
      <button
        pButton
        label="Add to favorites"
        icon="pi pi-shopping-cart"
        class="mt-2 w-full"
      ></button>
    </ng-template>
  </p-card>
</div>



<p-paginator
  [rows]="rows"
  [totalRecords]="totalRecords"
  (onPageChange)="onPageChange($event)"
  styleClass="mt-4"
/>
