<!-- 💘 Romance Books -->
<h2 class="my-3">Romance Books</h2>
<p-carousel
  [value]="romanceBooks"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [showNavigators]="true"
  [showIndicators]="false"
  [autoplayInterval]="2000"
  styleClass="custom-carousel"
  [responsiveOptions]="responsiveOptions">

  <ng-template pTemplate="item" let-book>
    <div class="">
      <p-card
        [header]="book.title?.split(' ').slice(0, 2).join(' ')"
        [subheader]="book.authors?.[0]?.name || 'Unknown Author'"
      >
        <ng-template pTemplate="content">
          <img
            *ngIf="book.cover_id"
            [src]="
              'https://covers.openlibrary.org/b/id/' + book.cover_id + '-L.jpg'
            "
            alt="{{ book.title }}"
            class="mb-2 mx-auto"
            loading="lazy"
            width="200"
            height="250"
            style="object-fit: cover"
          />
          <p class="text-sm text-gray-600">
            Editions: <strong>{{ book.edition_count }}</strong>
          </p>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-carousel>

<!-- 👶 Kids Books -->
<h2 class="my-3">Kids Books</h2>
<p-carousel
  [value]="kidsBooks"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [showNavigators]="true"
  [showIndicators]="false"
  [autoplayInterval]="2000"
  styleClass="custom-carousel"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="item" let-book>
    <div class="">
      <p-card
        [header]="book.title?.split(' ').slice(0, 2).join(' ')"
        [subheader]="book.authors?.[0]?.name || 'Unknown Author'"
      >
        <ng-template pTemplate="content">
          <img
            *ngIf="book.cover_id"
            [src]="
              'https://covers.openlibrary.org/b/id/' + book.cover_id + '-L.jpg'
            "
            alt="{{ book.title }}"
            class="mb-2 mx-auto"
            loading="lazy"
            width="200"
            height="250"
            style="object-fit: cover"
          />
          <p class="text-sm text-gray-600">
            Editions: <strong>{{ book.edition_count }}</strong>
          </p>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-carousel>

<!-- 😱 Thriller Books -->
<h2 class="my-3">Thriller Books</h2>
<p-carousel
  [value]="thrillerBooks"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [showNavigators]="true"
  [showIndicators]="false"
  [autoplayInterval]="2000"
  styleClass="custom-carousel"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="item" let-book>
    <div class="">
      <p-card
        [header]="book.title?.split(' ').slice(0, 2).join(' ')"
        [subheader]="book.authors?.[0]?.name || 'Unknown Author'"
      >
        <ng-template pTemplate="content">
          <img
            *ngIf="book.cover_id"
            [src]="
              'https://covers.openlibrary.org/b/id/' + book.cover_id + '-L.jpg'
            "
            alt="{{ book.title }}"
            class="mb-2 mx-auto"
            loading="lazy"
            width="200"
            height="250"
            style="object-fit: cover"
          />
          <p class="text-sm text-gray-600">
            Editions: <strong>{{ book.edition_count }}</strong>
          </p>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-carousel>
