:host ::ng-deep .p-card {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2 {
  color: darkred;
}

.text-sm {
  color: #dcdcdc; /* رمادي فاتح */
}

.p-card .p-card-header {
  font-weight: bold;
  color: #00adb5;
}

.img-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}
::ng-deep .p-radiobutton-box.p-highlight {
  background-color: darkred;
  border-color: darkred;
}
::ng-deep .p-radiobutton .p-radiobutton-box:hover {
  border-color: darkred;
}

::ng-deep .p-radiobutton-box {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
}
::ng-deep .p-button {
 background-color: darkred;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  border: none;
}
::ng-deep .p-button:hover {
  background-color: rgb(214, 0, 0); /* لون أفتح عند التمرير */
}
.lable{
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}
