<p-toast position="top-right"></p-toast>

<div class="p-inputgroup mb-4">
  <input
    type="text"
    class="p-inputtext p-component"
    placeholder="Search for books..."
    (input)="onSearchInput($event)"
    style="width: 100%; max-width: 500px"
  />
  <button
    pButton
    icon="pi pi-search"
    class="p-button-outlined p-button-secondary"
    (click)="show()"
  ></button>
</div>

<div class="grid">
  <div
    *ngFor="let book of books; trackBy: trackByTitle"
    class="col-12 md:col-4 lg:col-3 p-2"
  >
    <p-card [header]="book.title.slice(0, 20)" [subheader]="book.author">
      <ng-template pTemplate="content">
        <img
          *ngIf="book.cover"
          [src]="book.cover"
          alt="{{ book.title }}"
          class="w-full mb-2 ng-star-inserted"
          loading="lazy"
          width="300"
          height="250"
          style="height: 250px; object-fit: cover"
        />
        <p class="text-sm text-gray-600">
          This is a book titled
          <strong>{{ book.title.split(" ").slice(0, 2).join(" ") }}</strong> by
          <strong>{{ book.author.split(" ").slice(0, 1).join(" ") }}</strong
          >.
        </p>
      </ng-template>
    </p-card>
  </div>
</div>
