/* You can add global styles to this file, and also import other style files */
/* ====== أساسيات عامّة ====== */
body {
  margin: 0;
  background-color: rgb(245, 245, 220);
  color: #EEEEEE; /* لون النص الأساسي */
  background: #ffffff;
}


h1, h2, h3, h4, h5, h6 {
  color: darkred; /* لون العناوين */
  margin: 0.5rem 0;
}


